/*  this is going to be my general css sheet for the entire site */

/* Type selectors*/

p { font-size: 16px;
    line-height: 1.5em;
    color: green;}

figcaption { font-weight: normal;
            font-size: 12px;
            line-height: 1.5em;
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: blue;
           }

h1 { font-family: cursive;
    text-align: center;
    }

/* Class selectors */

.subtitle { font-family: fantasy;
            font-weight: bold;
            font-style: italic;
            color: red;
}

/* ID selector */

#mainparagraph {font-family: inherit;
                font-weight: 20px;
                color: aqua;
                font-stretch: semi-expanded;
               }

.wrapped {background: grey;
    width: 30%;
    margin: 1%;
float:left;
display: inline;}

 #wrapper {width: 960 px;
    margin: 0 auto;}

footer {clear: both;}